@-webkit-keyframes hvr-icon-hang {
  0% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
}
@keyframes hvr-icon-hang {
  0% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
}
@-webkit-keyframes hvr-icon-hang-sink {
  100% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
}
@keyframes hvr-icon-hang-sink {
  100% {@media (min-width: 768px) and (max-width: 1399px) {
    .cd-legend-images {
        margin: -7px -7px 23px 51px;
    }
}
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
}
.hvr-icon-hang {
  display: inline;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 1.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-hang:after {
  content: "\e900";
  position: absolute;
  right: 0;
  padding: 0 1px;
  font-family: 'icomoon';
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-hang:hover:after, .hvr-icon-hang:focus:after, .hvr-icon-hang:active:after {
  -webkit-animation-name: hvr-icon-hang-sink, hvr-icon-hang;
  animation-name: hvr-icon-hang-sink, hvr-icon-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../../photodays/font/icomoon.eot?n2dfuk');
  src:  url('../../photodays/font/icomoon.eot?n2dfuk#iefix') format('embedded-opentype'),
    url('../../photodays/font/icomoon.ttf?n2dfuk') format('truetype'),
    url('../../photodays/font/icomoon.woff?n2dfuk') format('woff'),
    url('../../photodays/font/icomoon.svg?n2dfuk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-vk:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-chevron-down:before {
  content: "\e900";
}

.photoday-history__link {
  transition: color .45s 0s cubic-bezier(.4, 0, .2, 1);
  -moz-transition: color .45s 0s cubic-bezier(.4, 0, .2, 1);
  -webkit-transition: color .45s 0s cubic-bezier(.4, 0, .2, 1);
  position: relative;
  margin-top: 20px;
}

.photoday-history__link:before {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
          transition: transform 0.3s ease-in-out;
  content: '';
  position: absolute;
  -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
          transform: scale(0, 1);
  height: 1px;
  width: 60%;
  bottom: 0;
  left: 0;
  background-color: #bd9d53;
  -webkit-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

.photoday-history__link:hover:before {
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
}

.photoday-history__link:after {
  content: '';
  position: absolute;
  right: calc(100% + 10px);
  height: 1px;
  width: 30px;
  background-color: #222;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  backface-visibility: hidden;
}

.wishlist_item {
  position: absolute;
  top: 10px;
  left: 25px;
  z-index: 2;
  outline: none;
  background-color: transparent;
  border: none;
  padding: 0;
}

.product-thumb__slide .wishlist_item {
    left: 10px;
    z-index: 99;
}

.c-wrap-img-anim .wishlist_item {
  left: 10px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .h-logo img {
        width: 100%;
        height: 100%;
    }
}

.account-mobile-confirm {
    font-size: 18px;
    font-family: 'ttdrugs-light', sans-serif;
    padding-bottom: 10px;
}

.account-mobile-confirm a {
    color: #bd9d53;
    text-decoration: none;
    -webkit-transition: color 0.3s ease-in-out;
            transition: color 0.3s ease-in-out;
}

.account-mobile-confirm a:hover {
    color: #d9bc7b
}

@media (min-width: 768px) {
    .account-mobile-confirm {
      padding-left: 58px;
  }
}

.head-mobile-confirm {
    background-color: #bd9d53;
    padding: 3px 0 2px;
    text-align: center;
    font-size: 18px;
    font-family: 'ttdrugs-light', sans-serif;
}

.head-mobile-confirm a {
    color: #fff;
    -webkit-transition: color 0.3s ease-in-out;
            transition: color 0.3s ease-in-out;
}

.head-mobile-confirm a:hover {
    color: #333;
}

.mobile-confirm-wrap {
    padding: 50px 0;
    text-align: center;
}

.mobile-confirm-wrap span {
    display: block;
    font-size: 18px;
    font-family: 'ttdrugs-light', sans-serif;
    padding-bottom: 10px;
}

.mobile-confirm-wrap input[type="text"] {
    width: 200px;
    outline: none;
}

.mobile-confirm-wrap input[type="submit"] {
    -webkit-transition: background 0.3s ease-in-out;
            transition: background 0.3s ease-in-out;
    background-color: #bd9d53;
    border: none;
    padding: 3px 6px;
    width: 100px;
    outline: none;
    color: #fff;
    font-family: 'ttdrugs-light', sans-serif;
}

.mobile-confirm-wrap input[type="submit"][disabled] {
    background-color: #333;
    cursor: not-allowed;
}

@media (min-width: 992px) {
    .mobile-confirm-wrap {
      padding: 80px 0;
    }
}

.account-continue {
    -webkit-transition: color 0.3s ease-in-out;
            transition: color 0.3s ease-in-out;
    color: #bd9d53;
    text-decoration: none;
    font-family: 'ttdrugs-light', sans-serif;
    font-size: 18px;
}

.account-continue:hover {
    color: #d9bc7b
}

.account-form td {
    font-family: 'ttdrugs-light', sans-serif;
}

.h-item__menu .dropdown-wrap, .h-fixed-menu .dropdown-wrap {
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
          transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  position: absolute;
  text-align: left;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  font-family: 'ttdrugs-light', sans-serif;
  min-width: 150px;
  left: -20px;
  top: calc(100% + 10px);
  background-color: #fff;
}

.h-item__menu .dropdown-wrap > li, .h-fixed-menu .dropdown-wrap > li {
  margin: 0;
  max-width: initial;
  display: block;
}

.h-item__menu .dropdown-wrap a, .h-fixed-menu .dropdown-wrap a {
  -webkit-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
          transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  color: #222;
  display: block;
  padding: 8px 20px;
}

.h-item__menu .dropdown-wrap a:hover, .h-fixed-menu .dropdown-wrap a:hover {
  background-color: #f5f5f5;
  color: #262626;
}

.h-item__menu > li.active .dropdown-wrap {
  opacity: 1;
  visibility: visible;
}

.wishlist-table {
  font-family: 'ttdrugs-light', sans-serif;
}

.wishlist-table a {
  color: #927739;
  -webkit-transition: color 0.3s ease-in-out;
          transition: color 0.3s ease-in-out;
}

.wishlist-table a:not(.btn) {
  display: block;
  overflow: hidden;
  position: relative;
}

.wishlist-table a:hover {
  color: #d9bc7b
}

.wishlist-table td {
  vertical-align: middle !important;
  position: relative;
}

.wishlist-table .image-column {
  width: 116px;
}

.wishlist-table .image-column a:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.wishlist-table .image-column img {
  -webkit-transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
          transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  width: 100%;
}

.wishlist-table .action-btn {
  -webkit-transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
          transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  background-color: #bd9d53;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline-block;
  color: #222;
  position: relative;
}

.wishlist-table .action-btn:hover {
  color: #222;
}

.wishlist-table .action-btn i {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.wishlist-table .action-btn:hover {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
  box-shadow: 3px 3px 3px rgba(34,34,34, 0.5);
}

.checkout-drop {
  left: auto;
  right: 0;
  padding: 5px;
  margin: 0;
  min-width: 250px;
  top: calc(100% + 10px);
  font-family: 'ttdrugs-light', sans-serif;
}

.checkout-drop li {
  display: block;
  max-width: initial !important;
  margin: 0;
  padding-bottom: 5px;
}

.checkout-drop li:nth-child(n+3) {
  padding: 0;
}

.checkout-drop a:not(.btn) {
  padding: 0 !important;
}

.checkout-drop .result {
  padding: 15px 0 !important;
}

.checkout-drop .confirm .btn {
  -webkit-transition: background 0.3s ease-in-out;
          transition: background 0.3s ease-in-out;
  background-color: #222;
  border: none;
  width: 100%;
  padding: 10px;
  color: #fff;
  outline: none;
  text-align: center;
}

.checkout-drop .confirm .btn:hover, .checkout-drop .confirm .btn:focus {
  background-color: #bd9d53;
}

.cart-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.cart-item .img-holder {
    width: 30%;
}

.cart-item .img-holder img {
      width: 100%;
}

.cart-item .text-wrap {
    width: 70%;
    padding-left: 10px;
}

.cart-item .text-wrap span, .cart-item .text-wrap strong {
    display: block;
}

.cart-item .text-wrap strong {
    font-weight: bold !important;
    white-space: normal;
}

.cart-item .text-wrap span {
    padding-bottom: 10px;
}

#column-right {
    width: 100%;
}

@media (max-width: 767px) {
    .photoday-form__item {
        width: 50%;
        text-align: right;
    }

    .photoday-form__item .img-responsive {
        width: 70%;
        margin-left: auto;
    }

    .photoday-form__item span.text {
        position: absolute;
        left: 0;
        font-size: 120px;
    }

    .photoday-form__item.jcf-label-active:before {
        width: 95%;
        height: 90%;
    }

    .photoday-form__item.jcf-label-active span.text:before {
        transform: scale(0.7);
        transform-origin: 0 100%;
    }
}